body {
	padding: 30px;
}

body .row {
	margin: 0px;
}

h1 {
	border-bottom: solid 1px #eee;
	padding-bottom: 30px;
}

tr.selected {
	background-color: #f7f7f9;
}

.section {
	border: 1px solid #ddd;
	border-radius: 5px;
}

.section .header {
	background-color: #f7f7f9;
	border-radius: 5px;
	border-bottom: 1px solid #ddd;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 8px;
	font-weight: bold;
}

.section .content {
	padding: 10px;
}